<nav class="navbar navbar-expand navbg px-2">
    <div class="side-nav-button p-2 me-3 text-light"(click)="SideNavToggled()">
        <i class="fas fa-bars"></i>
    </div>
    <label class="px-4" style="color:azure" href="#">Medicare</label>
    <div class="navbar-collapse">
    </div>

    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Vikrant
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#" class="dropdown-item">Change password</a></li>
            <li><a href="#" class="dropdown-item">Logout</a></li>


        </ul>
    </div>
</nav>
