<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light"(click)="SideNavToggled">
        <i class="fas fa-bars"></i>
    </div>
    <a class="navbar-brand px-4" href="#">Header and SideNav</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">child1</a></li>
                    <li><a class="dropdown-item" href="#">child1</a></li>
                    <li><a class="dropdown-item" href="#">child1</a></li>
                </ul>
    
            </li>

            <li class="nav item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">child1</a></li>
                    <li><a class="dropdown-item" href="#">child1</a></li>
                    <li><a class="dropdown-item" href="#">child1</a></li>
                </ul>
    
            </li>

            <li class="nav item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">child1</a></li>
                    <li><a class="dropdown-item" href="#">child1</a></li>
                    <li><a class="dropdown-item" href="#">child1</a></li>
                </ul>
    
            </li>
        </ul>
       
    </div>

    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Vikrant
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#" class="dropdown-item">Change password</a></li>
            <li><a href="#" class="dropdown-item">Logout</a></li>


        </ul>
    </div>
</nav>
