<div class="card-row">
   <mat-card class="card" style="background-color: #ffcccb;">
     <mat-card-content>
       <h2>Vehicle</h2>
       <p>123</p>
     </mat-card-content>
   </mat-card>&nbsp;
   <mat-card class="card" style="background-color: #b0e57c;">
     <mat-card-content>
       <h2>Employee</h2>
       <p>456</p>
     </mat-card-content>
   </mat-card>&nbsp;
   <mat-card class="card" style="background-color: #a0d2e3;">
     <mat-card-content>
       <h2>Category</h2>
       <p>12</p>
     </mat-card-content>
   </mat-card>&nbsp;
 </div>

<div style="display: flex;">
   <div class="chart-container">
       <canvas id="canvas"></canvas>
   </div>
   <div class="chart-container">
       <canvas id="canvas2"></canvas>
   </div>
</div>
<div class="chart-container2">
   <canvas id="bar-chart"></canvas>
</div>
