<mat-toolbar color="primary">
  <button mat-icon-button class="side-nav-button" (click)="SideNavToggled()">
      <mat-icon>menu</mat-icon>
  </button>
  <span class="px-4" style="color:azure">Medicare</span>
  <span class="caret"></span>
  <span class="spacer"></span>
  <div class="navbar-collapse m-3">
  </div>
  <div mat-menu-item [matMenuTriggerFor]="menu">
      <span style="color:azure">Setting</span>
      <mat-icon>arrow_drop_down</mat-icon>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="open(content)">Change password</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
  </div>
</mat-toolbar>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="passwordForm">
        <div class="mb-3">
          <label for="oldPassword">OldPassword</label>
          <div class="input-group">
            <input type="{{ showOldPassword ? 'text' : 'password' }}" id="oldPassword" class="form-control" formControlName="oldPassword" placeholder="old Password">
            <button class="btn btn-outline-secondary" (click)="toggleShowPassword('oldPassword')" type="button">
              <i class="fas" [ngClass]="{'fa-eye': !showNewPassword, 'fa-eye-slash': showNewPassword}"></i>
            </button>
          </div>
          <div *ngIf="passwordForm.get('oldPassword')?.invalid && (passwordForm.get('oldPassword')?.dirty || passwordForm.get('oldPassword')?.touched)">
            <small class="text-danger" *ngIf="passwordForm.get('oldPassword')?.errors?.['required']">Old password is required.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="newPassword">New Password</label>
          <div class="input-group">
            <input type="{{ showNewPassword ? 'text' : 'password' }}" id="newPassword" class="form-control" formControlName="newPassword" placeholder="New Password">
            <button class="btn btn-outline-secondary" (click)="toggleShowPassword('newPassword')" type="button">
              <i class="fas" [ngClass]="{'fa-eye': !showNewPassword, 'fa-eye-slash': showNewPassword}"></i>
            </button>
          </div>
          <div *ngIf="passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)">
            <small class="text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.['required']">New password is required.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword">Confirm Password</label>
          <div class="input-group">
            <input type="{{ showConfirmPassword ? 'text' : 'password' }}" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
            <button class="btn btn-outline-secondary" (click)="toggleShowPassword('confirmPassword')" type="button">
              <i class="fas" [ngClass]="{'fa-eye': !showConfirmPassword, 'fa-eye-slash': showConfirmPassword}"></i>
            </button>
          </div>
          <div *ngIf="passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)">
            <small class="text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">Confirm password is required.</small>
            <small class="text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match.</small>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click'); changePassword(passwordForm.value)" [disabled]="passwordForm.invalid">Submit</button>
    </div>
    </ng-template>