nav{
    height:100%;
}

.side-nav-button{
    display:flex;
    justify-content: center;
    align-items: center;
    font: size 1.5em;
    cursor:pointer;
}

.modal-header{
    background-color:#3f51b5
}
.px-4 {
    padding-right: 55.5rem !important;
    padding-left: 1.5rem !important;
}

.modal-title{
    color:azure;
    font-size: 18px;
}
