nav{
    height:100%;
}

.side-nav-button{
    display:flex;
    justify-content: center;
    align-items: center;
    font: size 1.5em;
    cursor:pointer;
}
.navbg
{
    background: #56a755;
}
.modal-header{
    background-color:#cbf1ca
}
