.card {
    max-width: 350px;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.56);
    background-color: white;
    float: right;
    margin-right: 3rem;
    margin-top: 7rem;
  }
  body {
    background-color: #f0f2f5; 
  }
  img{
    width: 42px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #33a532;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .input[type=email], .input[type=password], .form-control {
    font-size: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
  
  .text-danger {
    color: #e3342f;
    font-size: 0.875rem;
  }
  
  a {
    color: #323f32;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .btn {
    padding: -0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    width: 16rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
  }
  
  .btn-primary {
    background-color: #33a532;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #289728;
  }
  
  .btn-danger {
    background-color: #e3342f;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #cc1f1a;
  }
  #btnRegister {
    color: blue; /* Change link color to blue */
    text-decoration: none; /* Remove underline */
  }
  
  #btnRegister:hover {
    text-decoration: underline; /* Underline on hover */
    color: darkblue; /* Change color on hover */
  }

  .separator {
    margin-top: 1rem;
    text-align: center; /* Align text horizontally */
    color: #423434; /* Text color */
  }
  .googlebtn {
    background-color: #f9f9f9; /* Background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    border-radius: 8px;
  }
  .btneye{
    background-color: #ffffff; /* Background color */
    height: 3.1rem;

  }
  .fas.fa-eye {
    color: #939e96; 
  }

  .linkcss{
    font-weight: 520;
  }

  @media only screen and (max-width: 768px) {
    .card {
      float: none;
      margin-right: auto; 
      margin-left: auto; 
      margin-top: 3rem; 
    }
  }
  