<html>

<head>
  <title>
    Medicare
  </title>
</head>

<body>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="d-flex align-items-center">
          <img src="assets/Images/DoctorSymbol.png" alt="Medicare Logo" style="margin-right: 1rem; margin-top: 2rem;">
          <h1 style="margin-top: 2rem;">Welcome to Medicare</h1>
        </div>
        <div>
          <p style="font-family: 'Roboto', sans-serif;margin-left: 3.5rem;">Angular Application for Patient Role in Medicare Project</p>
          <p style="font-family: 'Roboto', sans-serif;margin-left: 3.5rem;" class="linkcss"><a href="https://admin.vikrantmedicare.co.in/" style="text-decoration: none;"><u>Admin Module -> https://admin.vikrantmedicare.co.in/ </u></a></p>
          <p style="font-family: 'Roboto', sans-serif;margin-left: 3.5rem;" class="linkcss"><a href="http://api.vikrantmedicare.co.in/swagger/index.html" style="text-decoration: none;"><u>WEB API->  http://api.vikrantmedicare.co.in/swagger/index.html</u></a></p>

        </div>
        
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-form-field id="emailinp" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" class="emailcss" formControlName="email" placeholder="Enter email">
                <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                  <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required</div>
                  <div *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email</div>
                </mat-error>
              </mat-form-field>
              
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password" style="width: 100%;">
                <button mat-icon-button matSuffix (click)="toggleShowPassword()" type="button" aria-label="Toggle password visibility">
                  <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                  <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required</div>
                </mat-error>
              </mat-form-field>
              
      
              <div class="form-group">
                <a routerLink="/forgot-password">Forgot Password?</a>
              </div>
      
              <button mat-raised-button color="primary" id="btnLogin" type="submit" [disabled]="loginForm.invalid">Login</button>
      
              <div class="separator">
               
               ------- OR -------
              </div>
      
              <div class="text-center" id="google_btn">
              </div>
      
              <hr>
              <small>Don't have an account? <a routerLink="/register" id="btnRegister">Register Here</a></small>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div>
  </div>
</body>

</html>