<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services</title>
</head>
<body>
  <header>
    <nav>
      <div class="logo">MEDICARE</div>
      <ul>
        <li> <button  href="https://vikrantmedicare.co.in" mat-button>Patient Login</button></li>
        <li> <button  href="https://admin.vikrantmedicare.co.in/" mat-button>Admin Login</button></li>
        <li> <button  href="https://admin.vikrantmedicare.co.in/" mat-button>Doctor Login</button></li>
        <li> <button  href="" mat-button>About us</button></li>
      </ul>
    </nav>
  </header>
  <div class="header-image"></div>
  <main>
    <section class="services">
      <h1>SERVICES</h1>
      <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
      <div class="service-items">
        <div class="service-item">
          <i class="icon">&#x2712;</i>
          <h3>BRANDING</h3>
          <p>A wonderful serenity has taken possession of my entire soul like these sweet mornings.</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x26D3;</i>
          <h3>MARKETING</h3>
          <p>A wonderful serenity has taken possession of my entire soul like these sweet mornings.</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x1F4F7;</i>
          <h3>PHOTOGRAPHY</h3>
          <p>A wonderful serenity has taken possession of my entire soul like these sweet mornings.</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x1F3B5;</i>
          <h3>MUSIC</h3>
          <p>A wonderful serenity has taken possession of my entire soul like these sweet mornings.</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x2692;&#x2692;</i>
          <h3>DEVELOPMENT</h3>
          <p>A wonderful serenity has taken possession of my entire soul like these sweet mornings.</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x2694;&#x2694;</i>
          <h3>DESIGN</h3>
          <p>A wonderful serenity has taken possession of my entire soul like these sweet mornings.</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x1F4F1;</i>
          <h3>MOBILE</h3>
          <p>A wonderful serenity has taken possession of my entire soul like these sweet mornings.</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x1F6D2;</i>
          <h3>SHOP</h3>
          <p>A wonderful serenity has taken possession of my entire soul like these sweet mornings.</p>
        </div>
      </div>
    </section>
  </main>
</body>
</html>