<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services</title>
</head>
<body>
  <header>
    <nav>
      <div class="logo">MEDICARE</div>
      <div class="menu-icon">&#9662;</div>
      <ul>
        <li><a class="linkwhite" href="https://vikrantmedicare.co.in/auth" mat-button>Patient Login</a></li>
        <li><a class="linkwhite" href="https://admin.vikrantmedicare.co.in/" mat-button>Admin Login</a></li>
        <li><a class="linkwhite" href="https://admin.vikrantmedicare.co.in/" mat-button>Doctor Login</a></li>
        <li><a class="linkwhite" href="" mat-button>About us</a></li>
      </ul>
    </nav>
  </header>
  <div class="header-image"></div>
  <main>
    <section class="services">
      <h1>Functionality and Features</h1>
      <p>In this medicare project , there are four login Admin, SuperAdmin, Doctor and Patient. 
         Admin, SuperAdmin and Doctor are made in Dotnet MVC Core and Patient made in angular(frontend) and Dotnet CORE WEb API(backend)</p>
      <div class="service-items">
        <div class="service-item">
          <i class="icon">&#x2712;</i>
          <h3>Appointment</h3>
          <p>Admin can create Appointment for Patient or After Sign Up , patient himself create Appointment from Himself.</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x26D3;</i>
          <h3>Billing </h3>
          <p>After Appointment Billing will generated.</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x1F4F7;</i>
          <h3>Online Payment</h3>
          <p>Patient Can pay their Bill Online Payment</p>
        </div>
        <div class="service-item">
          <i class="icon">&#x1F3B5;</i>
          <h3>Chat</h3>
          <p>Using chat fumctionality, Patient Can chat with different doctors.</p>
        </div>
      </div>
      <h1>Our Location</h1>
      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d59500.62257407662!2d81.60215040000001!3d21.2402176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1712216345672!5m2!1sen!2sin" width="1500" class="p-1" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>
  </main>
  <footer style="background-color:#373535; color:antiquewhite;">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>About Us</h2>
        <p>Your text about your company.</p>
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p>Email: exampleexample.com</p>
        <p>Phone: +1234567890</p>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 Your Company Name | Designed by You
    </div>
  </footer>
</body>
</html>
